*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right bottom, #07485d, #027d8a, #07485d)
}

.navigation {
  position: relative;
  width: 400px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 10px;
}

.navigation ul {
  position: relative;
  display: flex;
  width: 350px;
}

.navigation ul li {
  position: relative;
  z-index: 1;
  width: 70px;
  height: 70px;
  list-style: none;
}

.navigation ul li a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  font-size: 1.5em;
  line-height: 75px;
  transition: 0.5s;
  color: rgb(96, 82, 73, 0.5);
}

.navigation ul li:hover a .icon{
  color: rgba(96, 82, 73, 1);
}

.navigation ul li.active a .icon {
  transform: translateY(-8px);
  color: #f54e29;
}

.navigation ul li a .text {
  position: absolute;
  opacity: 0;
  font-weight: 600;
  font-size: 0.5em;
  color: #222327;
  transition: 0.5s;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  transform: translateY(0px);
}

.navigation ul li.active a .text {
  opacity: 1;
  transform: translateY(13px);
}

.indicator{
  position: absolute;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

.indicator::before{
  content: '';
  position: absolute;
  bottom: 13px;
  width: 80px;
  height: 14px;
  background: #f54e29;
  border-radius: 10px;
}

.indicator::after{
  content: '';
  position: absolute;
  top: -3px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  /* background: #333; */
  box-shadow: 0 0 5px 2px #f54e29, /*offset-x | offset-y | blur-radius | spread-radius | color*/
              50px 50px #f54e29, /* offset-x | offset-y | color */
              40px 0 #f54e29,
              45px 20px 5px #f54e29,/* offset-x | offset-y | blur-radius | color */
              5px 20px 5px #f54e29,
              0 40px #f54e29;
  transform: rotate(45deg);
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {
  0%, 100%{
    transform: rotate(35deg);
  }
  50%{
    transform: rotate(55deg);
  }
}

.navigation ul li:nth-child(2).active ~ .indicator{
  transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
  transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
  transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
  transform: translateX(calc(70px * 4));
}